<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
      <br/>
      <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{lastName}" id="surname"/>
      <br/>
      <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
      <br/>
      <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
      <br/>
      <br>
    <select name="roles">Role:
        <optgroup label="Access mod">
            <option value="ROLE_USER">USER</option>
            <option value="ROLE_ADMIN">ADMIN</option>
        </optgroup>
    </select>
      <br/>
      <br/>
    <input type="submit" value="Create!"/>
      <br/>
      <br/>
    <a th:href="@{/logout}">Logout</a>
</form>
</body>
</html>