<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
    />

    <title>Hello, world!</title>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong><span th:text="${user.getEmail}"></span></strong> with roles:
        <span th:text="${user.getRoles()}"></span>
    </a>
    <a class="nav-link text-secondary" th:href="@{/logout}"
    ><h3>Logout</h3></a
    >
</nav>
<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="col-sm-2 mt-2 px-0 mr-4">
            <nav class="d-none d-sm-block sidebar">
                <div class="bg-light text-dark">
                    <nav class="sidebar">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item active">
                                <a class="nav-link active" th:href="@{/userPage}">User</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col-sm bg-light">
            <h1 class="ml-3 mb-3 mt-3 font-bold">User information-page</h1>
            <div
                    class="
                bg-light
                border border-3 border-black
                rounded-top rounded-3
              "
            >
                <div
                        class="h4 m-3"
                        id="home-tab"
                        data-toggle="tab"
                        aria-controls="home"
                        aria-selected="true"
                >
                    About user
                </div>
                <div class="bg-white border border-3 border-black">
                    <div class="col mt-3">
                        <!--таблица юзера-->
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.getId}"></td>
                                <td th:text="${user.getFirstName}"></td>
                                <td th:text="${user.getLastName}"></td>
                                <td th:text="${user.getAge}"></td>
                                <td th:text="${user.getEmail}"></td>
                                <td th:each="role:${roles}">
                                <td th:text="${role.getName}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br />
        </div>
    </div>
</div>
</body>
</head>
</html>